.header {
  background-image: url("../assets/backgrounds/landing.jpg");
  height: 600px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.text-block{
  text-align: center;
  text
}
